<footer class="black-70">
  <div class="mw5 mw7-ns center pa3 ph4-ns fr">
    <div class="link light-gray">
      <a href="#" title="Download PDF" class="dib pr2 mid-gray dim fw3 pl2">Download PDF</a>
      |
      <a href="{{ site.baseurl }}/terms/"    title="Terms" class="dib ph2 mid-gray dim fw3 pl2">Terms of Use</a>
      |
      <a href="{{ site.baseurl }}/privacy/"  title="Privacy" class="dib pl2 mid-gray dim fw3 pl2">Privacy</a>
    </div>
  </div>
</footer>

<script async src="http://platform.twitter.com/widgets.js"></script>
<script src="{{ site.baseurl }}/js/jquery.js"></script>
<script src="{{ site.baseurl }}/js/modernizr.js"></script>
<script src="{{ site.baseurl }}/js/jquery.scrollTo.min.js"></script>
<script src="{{ site.baseurl }}/js/options.js"></script>
