
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{site.title}}</title>

    <meta name="description" content="{{site.description}}">
    <meta name="keywords" content="">
    <meta name="viewport" id="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/tachyons.min.css">

    <meta property="og:title" content="{{site.title}}">
    <meta property="og:url" content="{{site.url}}">
    <meta property="og:type" content="article">
    <meta property="og:image" content="###">
    <meta property="og:description" content="{{site.description}}">
    <meta property="og:site_name" content="The Social Life">
   
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@collectivelym">
    <meta name="twitter:title" content="The Social Life">
    <meta name="twitter:description" content="The Social Life is a framework to measure neighborhood progress towards a more social Life.">
    <meta name="twitter:image:src" content="###">


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    
</head>